services:
  web:
    build: .
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.service=api"
      - "traefik.http.routers.api.rule=Host(`shopping-to-b2.tera.officeiko.co.jp`)"
      - "traefik.http.routers.api.tls.certresolver=tsresolver"
      - "traefik.http.services.api.loadbalancer.server.port=5001"
    networks:
      - traefik

networks:
  traefik:
    name: traefik_net
    external: true